<form>
  <div class="form-group">
    <label for="nomeDaVacina">Nome da vacina</label>
    <input type="text" class="form-control" id="nomeDaVacina" placeholder="insira aqui o nome da vacina aqui">
  </div>
  <div class="form-group">
    <label for="pesquisadorResponsavel">Pesquisador responsável</label>
    <input type="text" class="form-control" id="pesquisadorResponsavel" placeholder="insira aqui o nome do pesquisador responsável">
  </div>
  <div class="form-group">
    <label for="estagioDaVacina">Estágio da vacina</label>
    <input type="number" class="form-control" id="estagioDaVacina" placeholder="insira aqui o número do estágio em que a vacina se encontra">
  </div>
  <div class="form-group">
    <label for="dataInicioPesquisa">Data do início da pesquisa</label>
    <input type="date" class="form-control" id="dataInicioPesquisa" placeholder="insira aqui a data do início da pesquisa">
  </div>
  <div class="form-group">
    <label for="nomeDoPais">País</label>
    <input type="text" class="form-control" id="nomeDoPais" placeholder="insira aqui o nome do país em que a vacina foi desenvolvida">
  </div>
  <div class="form-group">
    <label for="mediaDaVacina">Média da Vacina</label>
    <input type="number" class="form-control" id="mediaDaVacina" placeholder="insira aqui o valor da mádia de avaliações da vacina">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
