<div class="container">
  <form>
      <div class="card">
          <div class="card-header text-white bg-primary">
              <h4>Filtros</h4>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6 form-group">
                      <label for="nomeMontadora" class="form-label">País:</label>
                      <select class="form-control" name="nomeMontadora"
                              [compareWith]="compareById"
                              [(ngModel)]="montadora">
                          @for(m of listaDeMontadoras; track m.id) {
                             <option [ngValue]= "m">{{ m.nome }} ({{ m.paisFundacao }})</option>
                          }
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 form-group">
                      <label for="btnPesquisar" class="form-label">&nbsp;</label>
                      <button type="submit" class="btn btn-primary" name="btnPesquisar"
                              (click)="pesquisar()">Consultar estoque</button>
                      <label for="btnLimpar" class="form-label">&nbsp;</label>
                      <button type="submit" class="btn btn-warning"
                              (click)="limpar()">Limpar</button>
                  </div>
              </div>
          </div>
      </div>
  </form>

  <h2 class="">Total de Carros</h2>
  <br><br>

  <table class="table table-hover table-striped">
    <thead>
      <th>Total de veículos</th>
    </thead>
    <tbody>
        <tr>
          <td>{{ totalEstoqueDeCarros }}</td>
        </tr>
    </tbody>
  </table>
</div>
<!--
  <pre>Montadora selecionada {{montadora | json}}</pre>
-->

