<div class="container">
  <form>
      <div class="card">
          <div class="card-header text-white bg-primary">
              <h4>Filtros</h4>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6 form-group">
                      <label for="nomeMarca" class="form-label">Marca:</label>
                      <input type="text" id="nomeMarca" class="form-control" name="nomeMarca"
                            [(ngModel)]="seletor.nomeMarca">
                  </div>
                  <div class="col-md-6 form-group">
                      <label for="nomeModelo" class="form-label">Modelo:</label>
                      <input type="text" id="nomeModelo" class="form-control" name="nomeModelo"
                            [(ngModel)]="seletor.modelo">
                  </div>
                  <div class="col-md-3 form-group">
                    <label for="anoInicial" class="form-label">Ano inicial:</label>
                    <input type="number" class="form-control" name="anoInicial"
                            [(ngModel)]="seletor.anoInicial">
                </div>
                <div class="col-md-3 form-group">
                    <label for="anoFinal" class="form-label">Ano final:</label>
                    <input type="number" class="form-control" name="anoFinal"
                            [(ngModel)] = "seletor.anoFinal">
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12 form-group">
                      <label for="btnPesquisar" class="form-label">&nbsp;</label>
                      <button type="submit" class="btn btn-primary" name="btnPesquisar"
                              (click)="pesquisar()">Pesquisar</button>
                      <label for="btnLimpar" class="form-label">&nbsp;</label>
                      <button type="submit" class="btn btn-warning"
                              (click)="limpar()">Limpar</button>
                  </div>
              </div>
          </div>
      </div>
  </form>
  <h2 class="">Carros</h2>
  <br><br>
  <table class="table table-hover table-striped">
    <thead>
      <th>Modelo</th>
      <th>Placa</th>
      <th>Montadora</th>
      <th>Ano</th>
      <th>Valor</th>
</thead>
    <tbody>
      @for(carro of carros; track carro){
        <tr>
          <td>{{ carro.modelo }}</td>
          <td>{{ carro.placa}} </td>
          <td>{{ carro.montadora.nome }}</td>
          <td>{{ carro.ano }}</td>
          <td>{{ carro.valor }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>

